.dashboard {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard h2 {
    color: #333;
  }

  .dashboard-container {
    padding: 20px;
  }

  .mat-elevation-z8 {
    margin-top: 20px;
  }

  button {
    margin-bottom: 20px;
  }
